.place {
    /* compute the basis with 10 px left
        to rigth respectively */
    flex-basis: calc(50% - 20px);
    margin: 10px;
    
}

.place-picture {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.place-title {
    margin-top: 10px;
    font-weight: bold;
}